<md-content flex='100' layout='column' layout-align='center center'>
	<h1>Booking Helper Login</h1>

	<md-input-container>
		<label>Email</label>
		<input ng-model='$ctrl.email'>
	</md-input-container>

	<md-input-container>
		<label>Password</label>
		<input ng-model='$ctrl.password'>
	</md-input-container>
<!-- {{$ctrl.ActiveSession}} -->
	<div>
		<md-button class='md-primary md-raised' ng-click='$ctrl.login()'>Login</md-button>
		<md-button class='md-raised' ng-click='$ctrl.registerAgent()'>Register Agent</md-button>
	</div>
</md-content>